# kind/kind-config.yaml - SIMPLE VERSION
kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
nodes:
- role: control-plane
  extraPortMappings:
  - containerPort: 30001
    hostPort: 30001
    listenAddress: "0.0.0.0"
    protocol: TCP
  - containerPort: 31349
    hostPort: 31349
    listenAddress: "0.0.0.0"
    protocol: TCP