apiVersion: apps/v1
kind: ReplicaSet
metadata:
  name: student-app-replicaset
spec:
  replicas: 2
  selector:
    matchLabels:
      app: student-app
  template:
    metadata:
      labels:
        app: student-app
    spec:
      containers:
      - name: student-app
        image: student-app:1.0.0
        ports:
        - containerPort: 9393
