apiVersion: v1
kind: Service
metadata:
  name: student-app-service
  labels:
    app: student-app
spec:
  type: NodePort
  selector:
    app: student-app
  ports:
  - name: http
    port: 80
    targetPort: 9393
    protocol: TCP
    nodePort: 30080
