name: Deploy Student App

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    
    - name: Auth to GCP
      uses: google-github-actions/auth@v1
      with:
        credentials_json: '${{ secrets.GCP_SA_KEY }}'
    
    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v2
    
    - name: Deploy VM
      working-directory: ./terraform/gcp
      run: |
        terraform init
        
        # Create terraform.tfvars file
        cat > terraform.tfvars << 'EOF'
        gcp_project = "student-app-1765219404"
        gcp_region  = "us-central1"
        gcp_zone    = "us-central1-a"
        vm_name     = "student-app-vm"
        EOF
        
        # Apply
        terraform apply -auto-approve
    
    - name: Show VM IP
      working-directory: ./terraform/gcp
      run: |
        echo "VM IP: $(terraform output -raw vm_public_ip)"